RPC_URL=<Insert your RPC url here>
PRIVATE_KEY=<Insert your account private key here>
CONTRACT_ADDR=<Insert the address of the ERC20 token here>

MQTT_SERVER=<Insert the URL of the MQTT server>
MQTT_PORT=<Insert the port of the MQTT server>
TOPIC=<Insert the MQTT topic for the clients to subscribe to>